.permission {
  border: 1px solid var(--grey10);
  border-radius: 10px;
  color: var(--grey50);
  height: 30px;
  padding: 5px;
}

.highlighted {
  border: 1px solid var(--secondary);
  color: var(--secondary);
}
