.button {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-family: 'Montserrat', sans-serif;
}

.smallSize {
  height: 28px;
  padding: 0 8px;
  border-radius: 5px;
  font-size: 18px;
}

.mediumSize {
  height: 36px;
  padding: 0 12px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
}

.largeSize {
  height: 60px;
  padding: 0 20px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
}

.primaryVariant {
  background-color: var(--primary);
  color: var(--white);
}

.secondaryVariant {
  background-color: transparent;
}
